html, body {
    margin: auto;
    height: 100%;
    background: url("../Images/background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#footer img{
	height: 55px;
	width: 55px;
}

#navigation{
	background-color: rgba(245, 245, 245, 0.4);
}
.jumbotron{
	background-color: rgba(245, 245, 245, 0.4);
}
#footer{
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
	text-align: center;
	color: #ffffff;
	font-size: 1em;
}

#footer img{
	border-radius: 40px;
}
#mainContent{
	background-color: rgba(245, 245, 245, 0.4);
	padding-top: auto;
}

#mainContentButtons{
	padding-top: 40px;
}
#mainContentButtons img{
	height: 200px;
	width: 200px;
	border-radius: 100px;
  	padding: 10px;
  	border: 1px solid #999;
 	border: inset 1px solid #333;
 	margin-left: 35px;
}

#header{
	margin-left: 7%;
	color: #2c85f2;
}


#navigation button{
	height: 60px;
	width: 60px;
}

#header h2{
	margin-left: 10%;
	margin-top: -2%;
	color: black;
}

p{
	display: inline;
}

a{
	text-decoration: none;
}

.name{
	font-family: 'Leckerli One', cursive;
}


/*font-family: 'Leckerli One', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Montserrat Alternates', sans-serif;*/